.character__results--list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 50px 0 50px 0;
  grid-row-gap: 50px;
  justify-content: center;
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-row-gap: 50px;
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin: 50px 200px 50px 200px;
  }
}

.character__results--error {
  font-size: 20px;
  color: $colorBrand1;
  text-align: center;
  margin: 20px 40px 250px;
}

.character__error--icon {
  font-size: 30px;
  animation-name: heart;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  @keyframes heart {
    from {
      transform: escale(1);
    }
    to {
      transform: scale(2);
    }
  }
}
