.character__results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character__results--list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  margin: 0 50px 0 50px;
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 1fr);
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto, 1fr);
  }
}

.character__results--error {
  font-size: 20px;
  color: $colorBrand1;
  text-align: center;
  margin: 20px 40px;
}

.character__error--icon {
  font-size: 20px;
  animation-name: heart;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  @keyframes heart {
    from {
      transform: escale(1);
    }
    to {
      transform: scale(2);
    }
  }
}
