.search {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__label {
    font-size: 16px;
    color: $colorBrand1;
    text-align: center;
  }
  &__icon {
    position: relative;
    top: 40px;
    right: 100px;
    opacity: 60%;
    font-size: 25px;
    color: $colorBrand1;
    @media all and (min-width: 768px) {
      right: 150px;
    }
    @media all and (min-width: 1200px) {
      right: 145px;
    }
  }
  &__input {
    width: 80%;
    border: 2px solid $colorBrand1;
    background-color: transparent;
    color: $colorBrand1;
    cursor: pointer;
    @media all and (min-width: 768px) {
      width: 50%;
    }
    @media all and (min-width: 1200px) {
      width: 30%;
    }
  }
}

input[placeholder] {
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

input[placeholder]:focus {
  outline: $colorBrand1;
}
