.search__section {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__label {
    font-size: 20px;
    color: $colorBrand1;
    text-align: center;
    margin-bottom: 20px;
  }
  &__filters--wrapper {
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }
  }
  &__reset {
    padding: 10px;
    border: 2px solid $colorBrand1;
    border-radius: 20px;
    background-color: transparent;
    color: $colorBrand1;
    outline: none;
    &--icon {
      font-size: 20px;
      margin-right: 10px;
      transition: background-color ease 0.5s;
    }
  }
  &__reset:hover {
    background-color: $colorBrand1;
    color: $colorBrand2;
    box-shadow: 0 0 10px $colorBrand1, 0 0 40px $colorBrand1,
      0 0 80px $colorBrand1;
  }
}
