.header {
  padding: 20px;
  margin-bottom: 50%;
  @media all and (min-width: 768px) {
    padding: 40px;
    margin-bottom: 30%;
  }
  @media all and (min-width: 1200px) {
    margin-bottom: 20%;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--logo {
      width: 80%;
      @media all and (min-width: 768px) {
        width: 50%;
      }
      @media all and (min-width: 1200px) {
        width: 30%;
      }
    }
    &--image {
      position: absolute;
      top: 3%;
      width: 80%;
      @media all and (min-width: 768px) {
        width: 50%;
        top: 5%;
      }
      @media all and (min-width: 1200px) {
        width: 30%;
      }
    }
  }
}
