* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
